
    <h1>Status</h1>
    <br/>
    <div> 
        <!-- <div class="col-md-3">
            <img src="../../assets/images/agv-yellow.jpg" style="width: 300px; height: 300px;" > 
         </div>  
        <div class="col-md-3">
            <img src="../../assets/images/agv-yellow.jpg" style="width: 300px; height: 300px;">
        </div>
        <div class="col-md-3">
            <img [src]=myimage1>
        </div>
        <div class="col-md-3">
            <img src="../../assets/images/agv.png" style="width: 300px; height: 300px;">
        </div> -->
  </div>