
    <h1>Configuration</h1>
    <br/>
 <h4>Create AGV</h4>
<form style="border: 1px solid #C8C9C7;">      
  
      <div class="form-row" style="padding: 10px;">
        <div class="form-group col-md-3">
            <label htmlFor="exampleInputEmail1">Description</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter description" />
        </div>
        <div class="form-group col-md-3">
            <label htmlFor="exampleInputPassword1">Factory</label>
            <input type="search" class="form-control" id="exampleInputPassword1" placeholder="Factory" />
        </div>
        <div class="form-group col-md-3">
            <label htmlFor="exampleInputPassword1">PLC IP</label>
            <input type="number" class="form-control" id="exampleInputPassword1" placeholder="192.168.0.1" />
        </div>
        <div class="form-group col-md-1" style="margin-top:25px">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>  
        <div class="form-group col-md-1" style="margin-top:25px">
            <button type="submit" class="btn btn-danger">Cancel</button>
        </div>  
    </div> 
    </form>
<br/>
    <h4>AGV List</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Description</th>
          <th>Factory</th>
          <th>PLC IP</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>AGV 1</td>
          <td>Chassis</td>
          <td>192.168.0.1</td>
          <td>Edit</td>
          <td>Delete</td>
        </tr>
        <tr>
          <td>AGV 2</td>
          <td>Motores</td>
          <td>192.168.0.1</td>
          <td>Edit</td>
          <td>Delete</td>
        </tr>
        <tr>
          <td>AGV 3</td>
          <td>Cabinas</td>
          <td>192.168.0.1</td>
          <td>Edit</td>
          <td>Delete</td>
        </tr>
      </tbody>
    </table>